@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
   
}
/* header section style */
.header-external{
    width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}
.header-external .owner{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
}
.header-external button{
    width: 228px;
height: 58px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
     

   
.header-container{
width: 1440px;
height: 652px;
    
background-image: url(../images/Hero-bg.png);
background-repeat: no-repeat;
background-size: cover;
margin: 0 auto;
margin-bottom: 74px;
}
.header-contents{
    width: 998px;
    height: 582px;
    margin: 26px auto 44px;
    text-align: center;
    padding-top: 26px;
}
.header-contents img{
    width: 240.28px;
height: 240px;
}
.header-contents h1{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
margin-bottom: 20px;
}
.header-contents p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
margin-bottom: 21px;
}
.header-contents button{
width: 208px;
height: 66px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: white;
font-size: 20px;
font-weight: 600;

}
/* developing reason style */


.developing-reason-container{
width: 1140px;
height: 1393px;
margin: auto;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}

.reason-title{
width: 852px;
height: 113px;
margin: 0 auto;
padding-top: 80px;
text-align: center;
margin-bottom: 48px;
}
.reason-title h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.reason-title p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
}
/* shared contain style */
.all-reasons{
display: flex;
justify-content: space-between;

width: 850px;
height: 240px;
margin: 0 auto;
padding: 48px;
}
.reason-1 .reason-1-left-content{
    width: 477px;
height: 219px;

}
.head-h2{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
margin-bottom: 16px;
}
.text-p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 44px;
}
.btn-primary{
    width: 171px;
height: 47px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
}
.reason-img{
    width: 274.17px;
height: 240px;
}
/* inspiration section style */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    padding-top: 90px;
}
.inspiration-description{
width: 852px;
height: 113px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.inspiration-description h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
margin-bottom: 7px;
}
.inspiration-description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.inspirational-video{
width: 1076px;
height: 550px;
margin: 0 auto;
margin-top: 30px;

}
.inspirational-video iframe{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
/* target style */
.target-container{
width: 1140px;
height: 1437px;
margin: 0 auto;
padding-top: 120px;

}
.current-targets{
    width: 1140px;
height: 460px;

}
.texts-target{
width: 852px;
height: 113px;
margin: 0 auto;
text-align: center;

}

.texts-target h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.texts-target p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
padding-top: 5px;
}
.language-container{
    display: flex;
    justify-content: space-around;
    
}
.language-html{
    background: rgba(255, 76, 30, 0.05);

} 
.language-css{
    background: rgba(0, 76, 232, 0.05);
}
.language-js{
    background: rgba(255, 223, 0, 0.05);
}
/* shared style of targets */
.language{
    width: 280px;
    height: 266px;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 120px;
   
}
  .language h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
  }
.language p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
margin-top: 24px;
margin-bottom: 24px;

}
.language a{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
}

.next-languages{

width: 1140px;
height: 219px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-bottom: 30px;

}
.next-language-content{
    width: 1060px;
height: 139px;
margin: 0 auto;
display: flex;
padding-top: 50px;
}

.next-languages img{
margin-right: 30px;
}
.next-languages h1{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
margin-bottom: 20px;

}
.next-languages p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}
.next-languages a{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
}


/* support style */
.support-container{
width: 1140px;
height: 455px;
margin: 0 auto;
background-image: url(../images/handshake.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(13, 19, 33, 0.5);
background-blend-mode: overlay;
border-radius: 16px;

}

.support-contents{
    width: 1044px;
    height: 185px;
    margin: 90px 48px;
    text-align: center;
    padding-top: 200px;
}
.support-contents h3{
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
}
.support-contents p{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 40px;
}
input[type=text]{
    width: 548px;
height: 57px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;

}
input[type=submit]{
    width: 120px;
height: 57px;
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
/* footer style */
.footer-container{
    width: 1440px;
height: 100px;
margin: 0 auto;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
display: flex;
justify-content: space-between;
margin-top: 80px;

}
.footer-left{
    width: 456px;
height: 23px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
margin: auto 0;
margin-left: 150px;
}
.footer-right{
width: 157.01px;
height: 36px;
margin: auto 0;
display: flex;
justify-content: space-around;
margin-right: 150px;
}